<h1 *ngIf="recipeBank.recipes.length < 1">NO CSV LOADED</h1>

<div *ngIf="selection && searchRecipe(selection) == undefined" id="searchResults">
    <button *ngFor="let match of recipeBank.recipes | myFilter : selection" (click)="selection=match">{{match}}</button>
</div>

<p>Select final product and number to create per second:</p>

<label>Final Product: 
    <input type="text" [(ngModel)]="selection" value="">
</label>

<label>Desired Items/Second: 
    <input type="number" [(ngModel)]="selectAmountItems" (input)="EqualizeInputs('I')">
</label>

<label>Desired Machines to Occupy: 
    <input type="number" [(ngModel)]="selectAmountMachines" (input)="EqualizeInputs('M')">
</label>

<!-- <span *ngIf="searchRecipe(selection) != undefined">For one machine, choose {{(getCraftSpeed(searchRecipe(selection))*searchRecipe(selection).products[selection])/searchRecipe(selection).time}}</span> -->
<br>
<button (click)="firstDomino(selection)">Calculate!</button>

<br>
<label for="assemblyChoice">Assembly Machine
    <input type="range" min="1" max="3" value="2" name="assemblyChoice" [(ngModel)]="assemblyChoice">
</label>
<span>{{assemblyChoice}}</span>
<br>
<label for="furnaceChoice">Furnace
    <input type="range" min="1" max="2" value="2" name="furnaceChoice" [(ngModel)]="furnaceChoice">
</label>
<span>{{furnaceChoice}}</span>
<br>
<label for="drillChoice">Mining Drill
    <input type="range" min="1" max="2" value="2" name="drillChoice" [(ngModel)]="drillChoice">
</label>
<span>{{drillChoice}}</span>

<p *ngFor="let item of crunchResult">{{item.name}} : {{this.fractionalize(item.quantity)}}</p>


