#searchResults {
    display: flex;
    flex-direction: column;
}

#greeting {
    margin: 0px auto;
}

#selectors {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    justify-content: space-between;
    white-space: pre-wrap;
}

.numberInput {
    max-width: 100px;
    text-indent: 0.3em;
}

.textInput {
    flex: 1;
    text-indent: 0.3em;
}

.selector {
    margin-top: 10px;
}

#amountSelectors {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

#calculateButton {
    width: 100px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* currently unused - see the one on CruncherFrame
#removeButton {
    float: right;
    position: absolute;
    left: 361px;
    top: 60px;
    height: 30px;
    width: 30px;
}*/

