<!-- this should never display -->
<h1 *ngIf="recipeBank.recipes.length < 1">NO CSV LOADED</h1>

<!-- <button id="removeButton" *ngIf="lasty && crunchID > 0" (click)="removeMe.emit(crunchID)">-</button> -->

<div id="selectors">
    <p id="greeting">Select final product and number to create per second:</p>

    <label class="selector">Final Product: 
        <input class="textInput" type="text" [(ngModel)]="selection" value="" (keyup)="selectionKey($event.key)">
        <!-- <span>{{selectionGood}}</span> -->
    </label>
    <!-- *ngIf="selection && searchRecipe(selection) != undefined" -->
    <div id="amountSelectors">
        <label class="selector">Desired Items/Second: 
            <input class="numberInput" type="number" [(ngModel)]="selectAmountItems" (input)="EqualizeInputs('I')" (keyup.enter)="firstDomino(selection)">
            <!-- <span>{{selectAmountGood}}</span> -->
        </label>
        
        <label class="selector" >Desired Machines to Occupy: 
            <input class="numberInput" type="number" [(ngModel)]="selectAmountMachines" (input)="EqualizeInputs('M')" (keyup.enter)="firstDomino(selection)">
        </label>
    </div>
    <!-- *ngIf="selectAmountItems && selection && searchRecipe(selection) != undefined" -->
    <button *ngIf="selectAmountItems && selection && searchRecipe(selection) != undefined; else disCalc" class="selector" id="calculateButton" (click)="firstDomino(selection)">Calculate!</button>
    <ng-template #disCalc>
        <button class="selector" id="calculateButton" (click)="firstDomino(selection)" disabled>Calculate!</button>
    </ng-template>
    
</div>

<!-- Search Results -->
<div *ngIf="selection && searchRecipe(selection) == undefined" id=searchResults>
    <div *ngFor="let match of filterRecipes(selection); let i=index">
        <button style="background-color:mistyrose;" *ngIf="i == selectedResult; else elseBlock"  (click)="setSelection(match)">{{match}}
        </button>
        <ng-template #elseBlock>
            <button (click)="setSelection(match)">{{match}}</button>
        </ng-template>
    </div>
</div>

<div *ngIf="false">
    <label for="assemblyChoice">Assembly Machine
        <input type="range" min="1" max="3" value="2" name="assemblyChoice" [(ngModel)]="assemblyChoice">
    </label>
    <span>{{assemblyChoice}}</span>
    <br>
    <label for="furnaceChoice">Furnace
        <input type="range" min="1" max="2" value="2" name="furnaceChoice" [(ngModel)]="furnaceChoice">
    </label>
    <span>{{furnaceChoice}}</span>
    <br>
    <label for="drillChoice">Mining Drill
        <input type="range" min="1" max="2" value="2" name="drillChoice" [(ngModel)]="drillChoice">
    </label>
    <span>{{drillChoice}}</span>
</div>
<div id="resultList">
    <app-resultbutton *ngFor="let item of crunchResult" [myItem]="item"></app-resultbutton>
</div>


