#crunchers {
    display: flex;
    flex-direction: row;
}

app-numbercruncher {
    margin: 5px;
    padding: 10px;
    position: relative;
    border: solid black 1px;
}

#addCruncher {
    height: 30px;
    width: 30px;
    position: relative;
    top: 20px;
}