<div id="crunchers">
    <app-numbercruncher *ngFor="let cruncher of crunchy; let i=index; last as isLast" 
    [crunchID]="i"
    [lasty]="isLast"
    (calculate)="updateTotal($event.id, $event.results)"
    ></app-numbercruncher>
    <div id="plusMinusBox">
        <button id="addCruncher" (click)="addCruncher()">+</button>
        <button *ngIf="crunchy.length > 1" id="removeCruncher" (click)="removeCruncher()">-</button>
    </div>
</div>
<div id="totalLists">
    <div>
        <p>Grand Totals:</p>
        <app-resultbutton *ngFor="let total of grandTotal" [checky]="true" [myItem]="total" (perfToggle)="togglePerf($event)"></app-resultbutton>
    </div>
    <div *ngIf="grandTotal">
        <p>Perfected Totals:</p>
        <app-resultbutton *ngFor="let tot of perfectRatio(grandTotal)" [myItem]="tot"></app-resultbutton>
    </div>
</div>