<div id="crunchers">
    <app-numbercruncher *ngFor="let cruncher of crunchy; let i=index; last as isLast" 
    [crunchID]="i"
    [lasty]="isLast"
    (calculate)="updateTotal($event.id, $event.results)"
    ></app-numbercruncher>
    <div id="plusMinusBox">
        <button id="addCruncher" (click)="addCruncher()">+</button>
        <button *ngIf="crunchy.length > 1" id="removeCruncher" (click)="removeCruncher()">-</button>
    </div>
</div>
<div *ngIf="crunchy.length > 1">
    <p>Grand Totals:</p>
    <p *ngFor="let total of grandTotal">{{total.name}} : {{tooly.dec2frac(total.quantity)}}</p>
</div>
<div *ngIf="grandTotal">
    <p>Perfected Totals:</p>
    <p *ngFor="let tot of perfectRatio(grandTotal)">{{tot.name}} : {{tooly.dec2frac(tot.quantity)}}</p>
</div>